.bgimg{
	background-image: url("first.jpg");
	margin-top: 0px;
	background-repeat: no-repeat;
	background-size:cover;
}

nav{ 
    position:fixed;
    z-index:3;
}

.subfooter{
	background-color: black;
	line-height: 2.2em;
	height: 7em;
	font-size:20px;
 	color: white;
}


.footer{
	background-color: white;
	line-height: 2.2em;
	height: 7em;
	font-size:20px;
 	color: black;
}



.forms{

	text-align: center;
	width:500px;
	background-color: rgba(0,0,0,0.5);
	height: 300px;
	
}

.button{
	margin-bottom: 10px;
}



.absolute {
    position: absolute;
    z-index: 2;
    top: 100px;
    width: 100%;
}
